@page "/chat"
@using ChatDrugiPut.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Nav
	
@if (Juzer == null)
{
	@if (txtDugme == "Registruj se!")
	{
		<LogIn KodPodKomponente="EventHandlerKodRoditelja" KaServeruLogin=@KaServeru />
	}
	else
	{
		<Registracija Dodavanje="DodajJuzera" />
	}
	<button @onclick="Toggle">@txtDugme</button>
}
else
{
	<ChatProzor UlogovanKorisnik=@Juzer cHub=@KaServeru />
}
	



@code 
{
	public User Juzer { get; set; }
	public string txtDugme { get; set; } = "Registruj se!";
	public HubConnection KaServeru;

	protected override async Task OnInitializedAsync()
	{
		KaServeru = new HubConnectionBuilder().WithUrl(Nav.ToAbsoluteUri("/ch")).Build();
		await KaServeru.StartAsync();
	}

	public void Toggle()
	{
		if (txtDugme == "Registruj se!")
		{
			txtDugme = "Uloguj se!";
		} else
		{
			txtDugme = "Registruj se!";
		}
	}

	public void DodajJuzera(User novi)
	{
		KaServeru.SendAsync("PrihvatiKorisnika", novi);
		
		txtDugme = "Registruj se!";
	}

	public void EventHandlerKodRoditelja(User nesto)
	{
		Juzer = nesto;
	}

}
