@using ChatDrugiPut.Shared
@using Microsoft.AspNetCore.SignalR.Client

<h3>LogIn</h3>

<p>Test: @zaLog.Username</p>
<EditForm Model="@zaLog" OnSubmit="Submit">
	<p>Username: <InputText @bind-Value="zaLog.Username"/></p>
	<p>Password: <InputText @bind-Value="zaLog.Password"/></p>
	<button type="submit">Log in</button>
</EditForm>


@code 
{
	public User zaLog { get; set; } = new User();

	[Parameter]
	public HubConnection KaServeruLogin { get; set; }

	[Parameter]
	public EventCallback<User> KodPodKomponente { get; set; }

	public void Submit()
	{
		KaServeruLogin.On<User>("EvoDobrog", u => KodPodKomponente.InvokeAsync(u));
		KaServeruLogin.SendAsync("ProveriKorisnika", zaLog);
		
	}
}
